@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
margin: 0;
padding:0;
border:0;
}

html,body, #root, #app, #homepage{
  height:100%;
}

body{
  font-family: 'Work Sans', sans-serif;
}


h1 > img {
  width:5%;
  position: relative;
  margin-right: 10px;
}

/* menu start*/

.menu{
  z-index: 1;
  position: fixed;
  right: 2rem;
  top: 20px;
  text-align: right;
}

a.menu-item{
  transition: all .2s ease;
  position: relative;
  text-decoration: none;

}

a.menu-item:hover{
  color:#81D1AA;
}

.buffer{
  padding-bottom: 20px;
}


.menu-item {
    display: block;
    color: inherit;
}

.menu-link:nth-child(1):after, .menu-link:nth-child(2):after,
.menu-link:nth-child(3):after {
    content: "";
    height: 0;
    width: 2px;
    display: block;
    background-color: #5d5d5d;
    margin-left: auto;
    margin-right: 11px;
    transition: all .4s ease .4s;
}

.menu-link:nth-child(1).active:after, .menu-link:nth-child(2).active:after,
.menu-link:nth-child(3).active:after {
    height: 60px;
    transition: all .2s ease;
}

.menu .menu-link {
    display: block;
    padding:20px 0 0 0;
    background-repeat: no-repeat;
    color: inherit;
}
@media only screen and (max-width: 450px) {
  span.title{
  writing-mode: tb-rl;
  }
}


.itemColour{
  color:#81D1AA;
}

/* menu finish*/


/*start of about me section */

.aboutMeContainer{
  background:#45b29a;
  color:white;
  overflow: auto;
  position: relative;
}

.introduction > span{
  font-size: 36px;
}

.softwareWrapper > span{
  font-size: 36px;
  margin:10px 0 10px 84%;
  line-height: 2;
}

.softwareWrapper > h1{
  margin-top: 0px ;
}

.aboutMeImg{
  width:40px;
}

.pencilImg{
  margin-top: 50px;
}

.browserImg{
  margin-top: 30px;
}

.pictureImg{
  margin-top: 140px;
}

.discImg{
  margin-top: 70px;
}

.pcImg{
  margin-top: 20px;
}

.softwareWrapper > div{
  display: inline-block;
  margin:5px;
  background:#2c3d51;
  border-radius: 20px;
  padding:6px;
}

/*end of about me section */

/*start of portfolio section */

.portfolioContainer{
  background:#ecf0f1;
  color:#455a64;
  padding-bottom: 20px;
}

.portfolioHeader{
 padding-top:20px;
}

.suitcaseImg{
  width:40px;
}

.webPageWrapper{
  margin-top:30px;
}

.webProfileImg{
  max-width:100%;
}

.appInfo > a{
  background:#45b29a;
  padding:5px;
  text-decoration: none;
  margin:10px 80% 0 0;
  color:white;
  float:right;
}

.appInfo > a:hover{
  box-shadow: 2px 2px #b7b7b7;
}

/*
#portfolioContainer{
  background:#ecf0f1;
  color:#455a64;
  overflow: auto;
  padding-bottom: 20px;
}

#portfolioContainer > h1{
  margin:0 0 0 30%;
 padding-top:20px;
}

#portfolioNote{
  font-size: 1vw;
  text-align: center;
}

#portfolioContainer > span{
  font-weight: bold;
  font-size: 2em;
  margin-left:40%;
  display: block;
  clear:left;
  padding-top: 10px;
}

.webProfileWrappers{
  overflow: auto;
  float:left;
  width:60%;
  margin-left:25%;
}

.webProfileWrappers > h3{
float:left;
margin: 15px 0 10px 30px;
}

.webProfileWrappers > a{
  background:#45b29a;
  padding:5px;
  text-decoration: none;
  margin:10px 10% 10px 10px;
  color:white;
  float:right;
}

.webProfileWrappers > a:hover{
  box-shadow: 2px 2px #b7b7b7;
}

.webProfileWrappers > div{
  margin: 10px 0 0 0;
  padding:10px;
  float:right;
  width:20%;
  font-size: 1vw;
}

.webProfileImg{
  float:left;
  margin:10px 0 0 0;
  width:70%;
}
*/
/*end of portfolio section */

/*start of photography section */

.cameraImg{
  width:40px;
}

.photographyImgWrapper{
  padding:0;
}

.photographyImg{
  max-width: 100%;
}



/*
#photographyContainer{
  padding-bottom: 20px;
  height:663px;
}

#photographyContainer > h1{
  margin:0 0 0 18%;
 padding-top:20px;
}
#photographyContainer > span{
  font-weight: bold;
  font-size: 2em;
  margin-left: 40%;
}

#photographyWrapper{
  overflow: auto;
  padding-left: 8%;

}


.photographyImg{
  width:30%;
  float:left;
}
*/
/*end of photography section */

/*start of contact section */

.contactContainer{
  background:#45b29a;
}

.contactWrapper{
  background: #50cfb3;
  border:1px solid #b7b7b7;
  border-radius:10px;
  padding:10px;
  color:white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;

}

.contactWrapper > img{
  vertical-align: middle;
}

.contactWrapper > span{
  vertical-align: middle;
}

.footer{
  background:#45b29a;
  color:#455a64;
}

.followMeWrapper{
  margin-bottom: -14px;
}

.codeByRuss{
  text-align: center;
  font-size: 10px;
}

/*
#contactContainer{

  text-align: center;
  height:149px;
}

#contactWrapper{

}


*/
/*end of contact section */


/*
.footer{
  background:#45b29a;
  position:relative;
  color:#455a64;
}

.footer > span{
  font-size: 0.6em;
  position:absolute;
  bottom: 0;
  left:45%;
  color:#455a64;
}

.followMe{
  color:#455a64;
  font-size: 1vw;
}

.followMeWrapper{
  padding:8px;
}

.followMeWrapper > h3{
  font-size: 2vw;
}
*/

/* email form start */

#formContainer{
z-index:100;
width:80%;
position: fixed;
left: 0;
right: 0;
background-color: #fafafa;
padding: 10px;
max-height: 70%;
width: 55%;
margin: auto;
overflow-y: auto;
border-radius: 2px;
will-change: top, opacity;
box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
 transition: 2s ease;
}

#form > input{
  width:80%;
  line-height: 1.5;
}

#form > textarea {
width:80%;
line-height: 3;
}


.formButtons{
float:right;
margin:10px;
cursor: pointer;
background: none;
font-family: 'Work Sans', sans-serif;
font-weight: bold;
color:#455a64;
}

#formContainer > h2{
  margin-top: -10px;
}

#formContainer > h2 > img{
  width:10%;
  position: relative;
  top: 20px;
}

/* email form end */

/*email confirmation div start */

#emailConfirmation{
z-index:101;
width:80%;
position: fixed;
left: 0;
right: 0;
background-color:#455a64;
color:white;
padding: 10px;
max-height: 70%;
width: 55%;
margin: auto;
overflow-y: auto;
border-radius: 2px;
will-change: top, opacity;
box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
 transition: 2s ease;
}

/*email confirmation div end */
